:root {
  --color-white: #ffffff;
  --color-green: #5f873f;
  --color-orange: #e2953a;
  --color-brown: #c18134;
  --color-light-brown: #e9ab63;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(
    to bottom,
    var(--color-green),
    var(--color-green) 49.9%,
    var(--color-light-brown) 50%
  );
}

.sushi {
  position: relative;
  &__name {
    position: absolute;
    text-align: center;
    width: 100%;
    font-family: "Yuji Mai", serif;
    font-size: clamp(4rem, 10vw, 12rem);
    color: var(--color-white);
    margin-top: 48px;
  }
}

.slider {
  position: relative;
  display: grid;
  place-items: center;
  min-height: 100vh;
  overflow-x: scroll;
  &__itemsContainer {
    position: relative;
    background: linear-gradient(
      to bottom,
      transparent,
      transparent 20.9%,
      var(--color-orange) 21%
    );
    &::before {
      content: "";
      flex-shrink: 0;
      position: absolute;
      width: 100%;
      bottom: -10%;
      height: 10%;
      background-color: var(--color-brown);
    }
  }
  &__items {
    position: relative;
    display: flex;
    cursor: grab;
  }
  &__spacer {
    flex-shrink: 0;
    width: 25vw;
  }
  &__item {
    flex-shrink: 0;
    width: 50vw;
  }
  &__image {
    width: 100%;
    pointer-events: none;
    user-select: none;
  }
}
.js-grabbing {
  cursor: grabbing;
}
.js-intersect {
  position: absolute;
  left: calc(50% - 10px);
  display: block;
  width: 20px;
  height: 50vh;
  background-color: transparent;
  margin-top: 25vh;
}
